.scale {
    animation: scale 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.fade {
    animation: fade 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

