
.item-card {
    display: flex;
    padding: .5rem 1rem;
    position: relative;
    height: 50px;
}

.item-card > .card-header {
    margin-right: .5rem;
    font-weight: bold;
    align-self: center;
}

.item-card > .card-tags {
    display: flex;
    overflow-x: scroll;
    margin-right: 2rem;
}

.item-card > .card-btn-wrapper {
    padding-left: 1rem;
    position: absolute;
    right: 0;
    margin-left: auto;
    background: linear-gradient(to right, #FFFFFF00, #fff, #fff, #fff);
}

.item-card > .card-btn-wrapper_dark {
    background: linear-gradient(to right, #FFFFFF00, #121212, #121212, #121212);
}
